/* Variables de colores */
:root {
  --color-principal: #4caf50; /* Verde principal */
  --color-principal-hover: #276e2a; /* Verde oscuro para hover */
  --color-fondo: #ffffff;
  --color-texto: #333333;
  --color-texto-claro: #666666;
  --color-borde: #cccccc;
  --color-enlace: #007bff;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ocupa toda la altura de la pantalla */
  width: 100%; /* Ocupa todo el ancho */
  display: flex; /* Facilita el uso de flexbox si es necesario */
  background-color: var(--color-fondo);
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif; /* Establece una fuente base */
  box-sizing: border-box; /* Incluye bordes y padding en las dimensiones */
}

#root{
  background-color: var(--color-fondo);
  width: 100%;
  height: 100%;
}

.login {
  display: grid;
  grid-template-columns: 0.75fr 1fr; /* Dos columnas iguales */
  color: var(--color-principal);
  background-color: var(--color-fondo);
  height: 600px;
  width: 750px;
}

.login-image {
  width: 100%; /* Asegura que la imagen llene su contenedor */
  height: auto; /* Asegura que la imagen ocupe toda la altura */

}

.login-content {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 50px;
}

.login-content h1{
  font-size: 30px;
  margin-bottom: 3px;
}

.login-content p{
  font-size: 15px;
  text-align: left;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 80%; /* Ajusta el ancho del formulario */
  max-width: 400px; /* Tamaño máximo */
  font-size: 15px;
}

form input{
  height: 5px;
  margin-bottom: 30px;
  border: 2px solid var(--color-principal);
  border-radius: 10px;
}

form input,
form button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

form button {
  background-color: var(--color-principal);
  font-size: 12px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

form button:hover {
  background-color: var(--color-principal-hover);
}

.login-content .form-error{
  margin: 0;
  color: red;
  font-size: 10px;
}


.project-manager {
  display: flex;
  width: 100%;
}

.container {
  flex-grow: 1; /* Esto hace que el contenedor principal ocupe el espacio restante */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidemenu {
  width: 250px;
  height: 100vh;
  background-color: var(--color-principal);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  padding: 10px;
  width: 60%;
}

.navbar ul {
  list-style: none;  /* Elimina los puntos de la lista */
  align-items: center;
  padding: 0;
  width: 100%;
}

.navbar ul li {
  margin: 2rem 0;
  height: 2rem;
  width: 100%;
  text-align: center;
}

.navbar ul li button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color:#ffffff;
  width: 100%;
  height: 100%;
}

.navbar ul li button:hover {
  background-color: var(--color-principal-hover);
}

.sidemenu img {
  max-width: 100%;
  height: auto;
  padding: 20px;
  max-width: 150px;
}

.container h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color:var(--color-principal);
  padding-left: 1rem;
  padding-top: 1rem;
}

.container hr {
  margin: 1rem 0;                      /* Añade un margen superior e inferior */
  border: none;                        /* Elimina el borde predeterminado */
  border-top: 2px solid rgba(0, 0, 0, 0.1); /* Línea de color negro muy suave */
  background: rgba(0, 0, 0, 0.1);      /* Fondo suave para dar un toque más sutil */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);  /* Sombra ligera para darle profundidad */
}

/* Flexbox para organizar los elementos */
.project-manager .sidemenu {
  flex-shrink: 0;
  align-items: center;
}

.project-manager .container {
  flex-grow: 1;
  padding: 0
}



/* Contenedor principal */
.projects {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Esto hace que ocupe toda la altura de la ventana */
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}

/* Estilo del encabezado */
.projects h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-principal);
  margin: 0;
}

/* Sección de controles: Añadir, Filtrar y Buscar */
.projects .controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0; /* No permite que se reduzca el tamaño de los controles */
  gap: 1rem;
  margin: 2rem 0rem;
  width: 100%;
  flex-shrink: 0; 
}

.projects .controls form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 0;
  flex-grow: 1;
  justify-content: space-between;
}

.projects .controls form input {
  margin:0;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex-grow: 1; /* Hace que el input ocupe el espacio disponible */
  flex-grow: 1; /* Hace que el input ocupe el espacio disponible */
  min-width: 0; /* Previene que el input se "desborde" si los botones son demasiado grandes */
}


.projects .controls .dropdown {
  display: inline-block;
  position: relative;
}

.projects .controls .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 120%;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  margin-top: 5px;
  list-style: none;
  border-radius: 8px;
}

.projects button {
  background-color: var(--color-principal);
  margin: 0;
  color: white;
  width: auto;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.projects button:hover {
  background-color: var(--color-principal-hover);
}

.projects .controls .dropdown-menu li {
  padding: 8px 16px;
}

.projects .controls .dropdown-menu li:hover {
  background-color: #f1f1f1;
}

/* Estilo del grid de proyectos */
.projects .grid {
  display: grid;
  grid-template-columns:  1fr;
  gap: 20px;
  width: 100%;
  flex-grow: 1; /* Hace que el grid ocupe todo el espacio restante */
  overflow-y: auto; /* Si el contenido es demasiado grande, agrega scroll */
}

/* Estilo de las tarjetas del grid */
.projects .grid .card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects .grid .card h3 {
  font-size: 1.5rem;
  color: #333;
}

.projects .grid .card p {
  font-size: 1rem;
  color: #777;
  margin-top: 10px;
}
